html , .col , .container-fluid , h2  , h3 , p , h5 , button {
	font-family: 'PT Sans', sans-serif;

}

/* Estilos en la nav-bar*/
a {
	font-size: 25px;
}

.nav-link:hover {
	background: #233d3a;
	border-radius: 10px 10px 10px 10px;
}

.navbar {
	border-bottom: 3px solid black;
}

/* Estilos en el centro de la pagina */

.wpp {
	position: fixed;
	z-index: 30;
	text-align: right;
}

.fa-whatsapp-square {
	color: #00bb2d;
	font-size: 50px;
	margin-right: 30px;
	margin-top: 20rem;
}

h2 {
	text-align: center;
	color: white;
	font-size: 3rem;
}

h3 {
	margin-top: 5px;
}

.nos {
	color:#233d3a;
}


.tituloport1 , .tituloport2 , .tituloport3 {
	margin-bottom: 20rem;
	font-size: 30px;
	color: black;
}

.tituloport1 {
	color: white;
	text-shadow: 1px 1px 1px black;
}

.tituloport2 , .tituloport3  {
	color: black;
	text-shadow: 1px 1px 1px white;
}

.titulo_port2 {
	font-size: 18px

}

.desc {
	margin-top: 5px;
}

.fa-beer , .fa-utensils , .fa-table-tennis {
	color: #233d3a;
	margin-right: 10px;
}

.word {
	font-size: 15px;
	color: black;
	font-style: justify-content-center;
}

.cards , .mcards {
	background-color: white;
}

.card {
	box-shadow: 3px 3px 1px 1px;
	padding: 3px;
	background-color: #233d3a;
}

.carousel {
	box-shadow: 3px 3px 1px 1px;
	border: 1px solid black;
}

.mcards {
	margin-bottom: 20px;
}

body {
	background-color: white;
}


.modal-body {
	background-color: #233d3a;
}

.menu_css {
	color: black;
}

.modal-header , .modal-footer {
	background-color: black;
	text-align: center;
}

.modal-title {
	color: white;
}

.btn {
	background-color: #2f342f;
	border: none;
}

.btn:hover , .btn:focus {
	background-color: #828981;
}

li {
	color: white;
}




/*Estilos en el footer*/

i:hover {
	color: #233d3a;
}

i {
	color: white;
}

p {
	color: white;
	font-size: 25px;
}

.contacto { 
	z-index: 20;
 }

.foot {
	text-align: center;
}

.d-flex {
	justify-content: center;
}

#footer {
	background-color: #000000;
}

.mapa {
	max-width: 100%;
	height: 100%;
	text-align: center;
}



/* Ajustes para resoluciones inferiores a 991 px ancho */

@media screen and (max-width: 991px) {
	.fa-whatsapp-square {
		margin-right: 20px;
	}
 
}




/* Ajustes para resoluciones inferiores a 780 px ancho */

@media screen and (max-width: 780px) {
	.tituloport1 , .tituloport2 , .tituloport3 {
		font-size: 15px;
		margin-bottom: 50px;
	}
 
}


/* Ajustes para resoluciones inferiores a 420 px ancho */

@media screen and (max-width: 420px) {
	 
    iframe {
    	width: 300px;

    }

    p {
    	font-size: 15px;
    }

    .logo {
    	width: 60px;
    	height: 60px;
    }

